In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-04T18:12:03-predictions.csv')

In [3]:
results

      pdbid  real  predicted       set
0      10gs  6.40   5.974236  training
1      11gs  5.82   7.223146  training
2      13gs  4.62   6.487788  training
3      1a07  6.40   5.917330  training
4      1a08  5.62   6.284413  training
...     ...   ...        ...       ...
16603  8abp  8.00   5.313930      test
16604  8cpa  9.15   5.564448      test
16605  8gpb  3.60   4.649616      test
16606  966c  7.64   6.875021      test
16607  9abp  8.00   4.322268      test

[16608 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [5]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE", rmse(predictions, targets))
    print("MSE", mse(predictions, targets))
    print("R, p-value", pearson(predictions, targets))
    print("MAE", MAE(predictions, targets))
    print('SD', SD(predictions, targets))

In [6]:
performance(np.array(test['predicted'].values), np.array(test['real'].values))

RMSE 1.6350300006163199
MSE 2.6733231029154028
R, p-value (0.5551178024418029, 0.0)
MAE 1.2911903654805497
SD 1.6351776931328232

In [7]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE 1.1936823284367908
MSE 1.4248775012222785
R, p-value (0.7713073243229417, 0.0)
MAE 0.9325669939817182
SD 1.1937415903123858

In [8]:
performance(np.array(validation['predicted'].values), np.array(validation['real'].values))

RMSE 1.4136206598512255
MSE 1.9983233699582141
R, p-value (0.667226422470445, 8.035628454566904e-130)
MAE 1.113783253507614
SD 1.414328000731042