In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-04T14:08:13-predictions.csv')

In [3]:
results

      pdbid   real  predicted       set
0      11gs   5.82   6.516645  training
1      13gs   4.62   5.736515  training
2      16pk   5.22   5.282652  training
3      1a07   6.40   5.928047  training
4      1a08   5.62   6.479001  training
...     ...    ...        ...       ...
14061  5aba   2.98   4.181491      test
14062  5c28   5.66   5.004452      test
14063  5c2h  11.09   7.477943      test
14064  5dwr  11.22   7.045928      test
14065  5tmn   8.04   5.712963      test

[14066 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [5]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE", rmse(predictions, targets))
    print("MSE", mse(predictions, targets))
    print("R, p-value", pearson(predictions, targets))
    print("MAE", MAE(predictions, targets))
    print('SD', SD(predictions, targets))

In [6]:
performance(np.array(test['predicted'].values), np.array(test['real'].values))

RMSE 1.6907116274794773
MSE 2.858505807294303
R, p-value (0.7073120326768048, 1.5599385405776423e-44)
MAE 1.347321975072225
SD 1.693685616809564

In [7]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE 1.2703991850429646
MSE 1.6139140893578283
R, p-value (0.7191555833705965, 0.0)
MAE 0.9945237556524973
SD 1.2704488866992518

In [8]:
performance(np.array(validation['predicted'].values), np.array(validation['real'].values))

RMSE 1.503999405598677
MSE 2.2620142120411737
R, p-value (0.6551513976278833, 1.153400548598165e-123)
MAE 1.1703215316486357
SD 1.504751969771665