In [1]:
import pandas as pd
import numpy as np
import scipy 
import sklearn.metrics

In [2]:
results = pd.read_csv('./output-2021-11-08T17:04:33-predictions.csv')

In [3]:
results

      pdbid  real  predicted       set
0      184l  4.72   4.473598  training
1      185l  3.54   4.377691  training
2      186l  4.85   4.059655  training
3      188l  3.33   3.848346  training
4      1a07  6.40   5.654712  training
...     ...   ...        ...       ...
16603  7kme  4.40   7.965694      test
16604  7upj  8.49   7.267036      test
16605  8hvp  9.00   6.372945      test
16606  9hvp  8.35   7.477508      test
16607  9icd  3.90   4.645353      test

[16608 rows x 4 columns]

In [4]:
train = results[results['set']=='training']
test = results[results['set']=='test']
validation = results[results['set']=='validation']

In [5]:
    
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

def mse(predictions, targets):
    return ((predictions - targets) ** 2).mean()

def pearson(predictions, targets):
    return scipy.stats.pearsonr(predictions, targets)[0]

def MAE(predictions, targets):
    return sklearn.metrics.mean_absolute_error(targets, predictions)

def SD(predictions, targets):
    return (((targets - predictions) ** 2).sum() / (len(predictions) - 1)) ** 0.5

def performance(predictions, targets):
    print("RMSE ", rmse(predictions, targets))
    print("MSE  ", mse(predictions, targets))
    print("R, p ", pearson(predictions, targets))
    print("MAE  ", MAE(predictions, targets))
    print('SD   ', SD(predictions, targets))

In [6]:
print("testing on fold0")
performance(np.array(test['predicted'].values), np.array(test['real'].values))

testing on fold0
RMSE  1.6672159351672096
MSE   2.7796089744754733
R, p  0.5466823816433415
MAE   1.3016480351286817
SD    1.6673665350442313

In [7]:
performance(np.array(train['predicted'].values), np.array(train['real'].values))

RMSE  1.1458313370716544
MSE   1.3129294530154154
R, p  0.7834116160841501
MAE   0.8976304338251058
SD    1.1458882233239955

In [8]:
performance(np.array(validation['predicted'].values), np.array(validation['real'].values))

RMSE  1.3920950071093783
MSE   1.9379285088188598
R, p  0.6718397285613916
MAE   1.0642149850177767
SD    1.3927915770839712